@import url("essentials.css") all;

body {
    font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
    font-size:8pt;
    background:#2b4f74;
    margin:0px;
    text-align:center;
}

img { border: 0; vertical-align: middle; }

.forumtable {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 8pt;
    border: 1px solid #ccc;
    border-collapse: collapse;
    background: #fff;
}

#wrapper {
    margin: 20px auto;
    width: 922px;
    border:2px solid #1c334e;
    text-align:left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:relative;
}

#header {
    width: 922px;
    height: 184px;
    float: left;
    color: #333;
    background: #004E98;
}

.statusbar {
    width: 912px;
    height: 18px;
    padding:5px;
    color:#fff;
    font-size:10px;
    background: #000 url('images/gradient_bg.png') repeat-x;
    border-bottom:5px solid #2b4f74;
}

.subheader {
    width:922px;
    height:120px;
    background: #004E98 url('images/branding_bg.png') repeat-x;
}

.logo {
    width:922px;
    height:120px;
    background: url('images/logo.jpg') no-repeat;
}

/* - Profile Block - */

.profile {
    width:284px;
    height:63px;
    float:right;
    margin:0 10px 0 0;
    background:#2b4f74;
    border-left:2px solid #1c334e;
    border-right:2px solid #1c334e;
    border-bottom:2px solid #1c334e;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile ul {
    list-style-type:none;
    float:left;
    margin:2px 0 0 10px;
    color: #D5DDE5;
}

.profile ul li {
    display:block;
    float:left;
    margin:0 1px;
}

.profile ul li a {
    display:block;
    float:left;
    border-bottom:1px dotted #fff;
    color: #D5DDE5;
}

.username a, .messagesbox a { color:#fff; }

.status_avatar {
    width:50px;
    height:50px;
    margin:6px 6px 0 6px;
    float:left;
    border:1px solid #1c334e;
}

.username, .messagesbox {
    height:21px;
    border:1px solid #1d3652;
    float:left;
    background:url('images/gradient_bp.png') repeat-x;
}

.username { width:144px; margin:12px 2px 0px 3px; }
.username p { padding:4px 0 0 4px; color:#fff;}
.messagesbox { width:52px; margin:12px 0px 0px 0px; }
.messagesbox p { padding:4px 0 0 4px; color:#fff; }

.msgalert {
    background:#d5dde5;
    color:#000;
    padding:1px 2px 1px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* - Profile Login Block - */

.sign_in {
    width:264px;
    height:30px;
    margin:5px 0 0 10px;
    background:#1d3652;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rlink { float:right; padding:5px 20px 0 0; }

.rlink a { color:#fff; }


/* - Navigation - */

#navigation {
    width: 922px;
    height:31px;
    float: left;
    color:#E0E0E0;
    font-family:Helvetica,Arial,Verdana,sans-serif;
    border-bottom:5px solid #528f6c;
}

#nav {
    height:31px;
    padding:0 0 0 20px;
    background:#192b40 url('images/primarynav_bg.png') no-repeat;
    font-size:12px;
    font-weight:bold;
}

#nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    width:auto;
    float:left;
}

#nav ul li {
    display:block;
    float:left;
    margin:0 1px;
}

#nav ul li a {
    display:block;
    float:left;
    color:#9bb2c8;
    text-decoration:none;
    padding:8px;
    margin-left:10px;
    height:35px;
}

#nav ul li a:hover {
    color:#fff;
    background: url('images/button.png') repeat-x;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav ul li a:hover span { display:block; width:auto; }
#nav ul li a.current,#nav ul li a.current:hover { color:#fff; }

#nav ul li a.current  {
    display:block;
    padding:0 20px 0 0px;
    width:auto;
    height:35px;
}

/* - Main Column - */

#container {
    width:922px;
    height:100%;
    background:#fff;
}

#maincolumn {
    width: 750px;
    height: 100%;
    padding:10px 0 10px 0;
    margin-left:auto;
    margin-right:auto;
    color: #333;
}

/* - Header Block - */

.cblock {
    width:750px;
    height:100%;
    float:left;
    margin:10px 0 10px 0;
    border-bottom:5px solid #d5dde5;
}

.cblock-header {
    width:740px;
    height:21px;
    color:#fff;
    padding:5px;
    font-size:17px;
    font-weight:normal;
    background:#192b40 url('images/primarynav_bg.png') no-repeat;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.cblock-lb {
    width:738px;
    height:15px;
    padding:6px;
    color:#1d3652;
    background:#b6c7db;
    font-weight:bold;
}

.cblock-content {
    width:740px;
    height:100%;
    padding:5px;
    margin : 0px auto 0px auto;
}

.inner_header {
    width:737px;
    height:14px;
    margin-bottom:10px;
    padding:3px 0 3px 3px;
    background:#b4c5d5;
}

/* - Footer - */

#footer {
    width: 912px;
    height:40px;
    padding:5px;
    color: #fff;
    background:#fff url('images/fb_gradient.png') repeat-x;
}

.footerbg { text-align:center; }

/* - News Block - */

.newsblock {
    width:738px;
    height:100%;
    border:1px solid lightgrey;
    margin-bottom:10px;
}

.newsheader { height:20px; background:lightgrey; }
.newsheader span { font-weight:bold; font-size:10pt; }
.newscont { padding:5px; }

.dateadded {
    color:grey;
    font-weight:bold;
    text-decoration:underline;
}

.newsbody { margin-top:10px; }

/* - Message Boxes - */

.info {
    width:50%;
    border: 1px solid;
    margin: 10px auto;
    padding:15px 10px 15px 50px;
    color: #00529B;
    background:#BDE5F8 url('images/info.png') no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.error {
    width:50%;
    border: 1px solid;
    margin: 10px auto;
    padding:15px 10px 15px 50px;
    color: #D8000C;
    background:#FFBABA url('images/error.png') no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* - The Cloud? - */

.thecloud {
    width:90%;
    margin:20px auto;
    border:1px solid #000;
    background:pink;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* - Special Staff page phooarrr - */

.staffbox {
    width:300px;
    float: left;
    border-left: 1px solid #d5dde5;
    border-right: 1px solid #d5dde5;
    border-bottom: 3px solid #d5dde5;
    margin:0 5px 5px 0;
}

.staffhead {
    width:284px;
    height:14px;
    padding:8px;
    background:#d5dde5;
    color:#1d3652;
    font-weight:bold;
    text-align:left;
}

/* - Pagination links start - */

.pagelink, .pagelinklast, .pagecurrent, .minipagecurrent, .minipagelink, .minipagelinklast {
	background: #F0F5FA;
	border: 1px solid #072A66;
	padding: 1px 3px 1px 3px;
}

.pagelinklast, .minipagelinklast { background: #DFE6EF; }
.pagecurrent { background: #FFC9A5; }
.minipagecurrent { background: #F0F5FA; font-size: 10px; }

.minipagelink, .minipagelinklast {
    border: 1px solid #C2CFDF;
	font-size: 10px;
	margin: 0 1px 0 0;
}

.pagelink a:active,
.pagelink a:visited,
.pagelink a:link,
.pagelinklast a:active,
.pagelinklast a:visited,
.pagelinklast a:link,
.pagecurrent a:active,
.pagecurrent a:visited,
.pagecurrent a:link,
.minipagelink a:active,
.minipagelink a:visited,
.minipagelink a:link,
.minipagelinklast a:active,
.minipagelinklast a:visited,
.minipagelinklast a:link {
    text-decoration: none;
}

.pager { margin:5px 0px 5px 0px; }

/* - Captcha/pin stuff - */

.cimage { border: 1px solid #eee; }

p#statusgreen { font-size: 1.2em; background-color: #fff; color: #0a0; }
p#statusred { font-size: 1.2em; background-color: #fff; color: #a00; }
.tag_cloud { padding: 3px; text-decoration: none; font-family: verdana; }
.tag_cloud:link  { color: #0099FF; text-decoration:none; }
.tag_cloud:visited { color: #00CCFF; }
.tag_cloud:hover { color: #0000FF; background: #00CCFF; }
.tag_cloud:active { color: #0000FF; background: #FFFFFF; }

.forumrules_title {
    background-color: #7192b2;
	font-size: 14px;
	color: #fff;
	padding: 7px;
    margin-bottom: 4px;
}

.forumrules_border { border:1px solid #e2e2e0; padding:4px; }
.forumrules_text_border { border:1px solid #e2e2e0; padding:4px; }

.forumrules_text {
    background-color: #FFFF99;
	font-size: 14px;
    color: #000;
}

.popupmenu {
    background: #C2CFDF;
    color: #3A4F6C;
    border: 1px solid #3A4F6C;
    text-align:left;
    font-size:11px;
    font-weight:bold;
    white-space:nowrap;
}

.popupmenu-item {
    padding: 5px;
	white-space: nowrap;
	border-bottom: 1px solid #C2CFDF;
	color:  #000000;
	font-weight: normal;
}

.popupmenu-item-last {
	padding: 5px;
    white-space: nowrap;
	color:  #000000;
	font-weight: normal;
}

.popupmenubutton {
    width:120px;
    height:18px;
    background: #C2CFDF;
    color: #3A4F6C;
    border: 1px solid #3A4F6C;
    text-align:center;
    font-size:11px;
    font-weight:bold;
    white-space:nowrap;
}

.popupmenu-item a:link, .popupmenu-item a:visited, .popupmenu-item-last a:link, .popupmenu-item-last a:visited { color: #000; text-decoration: none; }
.popupmenu-item a:hover, .popupmenu-item-last a:hover { color: #EA5F00; text-decoration: none; }

.tbi {
    vertical-align:middle;
	border:0px;
	padding:0px;
	margin:0px;
	float:none;
}

.menusep {
	white-space: nowrap;  /* stop menu collapsing in IE */
	padding-top:4px;
	padding-bottom:3px;
	border-bottom:1px solid #DDD;
}

.menuseplast {
	white-space: nowrap; /* stop menu collapsing in IE */
	padding-top:4px;
	padding-bottom:3px;
	color: #000;
}

.menusep a:link, .menusep a:visited, .menusep a:active, .menuseplast a:link, .menuseplast a:visited, .menuseplast a:active {
	text-decoration:none;
	font-weight:bold;
	color: #000000;
}

.roundedCorners {
    border: 1px solid #000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* - Forum styles - */

.fbtn a {
    font-size: 1.2em;
    font-family:Verdana,sans-serif;
    background:#1d3652;
    color: #fff;
    text-decoration: none;
    border: 1px solid #072A66;
    padding: 5px;
    margin:5px 0px 5px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fbtn a:hover { background-color:#666; }

.nocreate {
    font-size: 1.2em;
    font-family:Verdana,sans-serif;
    background:#900000;
    color: #fff;
    text-decoration: none;
    border: 1px solid #072A66;
    padding: 5px;
    margin:5px 0px 5px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.jbtn {
    font-size: 1.2em;
    font-family:Verdana,sans-serif;
    background:#1d3652;
    color: #fff;
    text-decoration: none;
    border: 1px solid #072A66;
    padding: 2px;
    margin:5px 0px 5px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tb_table_outer_wrap { width: 100%; }

.tb_table_inner_wrap {
    text-align:left;
    border:0;
    background-color:#1d3652;
    font-size:17px;
    font-weight:normal;
    padding:8px;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
}

.header { background: #b6c7db; color: #1d3652; }
.maintitle .desc { font-size: 0.8em; color: #606060; }
.row1, .row1 td, .post_block.row1 { background-color: #fafbfc; /* Very light blue */ }
.row1 .altrow, .row1.altrow { border: 0; background-color: #eef3f8; /* Slightly darker than row1 */  }
.row2, .row2 td, .post_block.row2 { background-color: #f1f4f7; /* Light blue */ }
.row2 .altrow, .row2.altrow{ background-color: #e4ebf2; /* Slightly darker than row2 */ }
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
.fright { float: right; }
.fleft { float: left; }
.fclear { float: clear; }
.col_c_icon { width:53px; }
.col_c_stats { width: 15%; }
.col_c_post { width: 40%; }
.col_c_forum { width: 60%; }
.no_topics { width: 100%; }

/* - Table Styles - */

table.tb_table { line-height: 120%; border-bottom: 4px solid #d5dde5; }
table.tb_table a { text-decoration: none; }
table.tb_table a:hover, body table.tb_table th a {  text-decoration: underline; }
table.tb_table caption span.desc {  font-size: 0.6em; }

table.tb_table h4, table.tb_table .topic_title {
    font-size: 1.1em;
    font-weight: normal;
    display: inline;
}

table.tb_table tr td { padding: 10px 8px 8px 8px; border-bottom: 1px solid #fff; }

table.tb_table tr .stats { text-align: right; }
body table.tb_table tr td p { font-size: 0.9em; }

table.tb_table th {
    font-size: 0.85em;
    font-weight: bold;
    padding: 6px;
}

table.tb_table ol.subforums { padding-top: 6px; margin-top: 5px; }

table.tb_table ol.subforums li {
    color: #1d3652;
    font-size: 0.85em;
    padding: 0 4px 0 15px;
    float: left;
}

table.tb_table ol.subforums li.newposts {
    color: #1d3652;
    font-size: 0.85em;
    padding: 0 4px 0 16px;
    float: left;
}

table.tb_table tr.announcement td { font-weight: bold; font-size: 1.1em; }

table.tb_table tr.subhead th  {
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px;
}

table.tb_table ul li { font-size: 0.95em; }
.noborder { border: 0; }

/* - Post background - */

.post_wrap {
    text-align: left;
	background: #fafbfc;
    border-bottom:6px solid #666;
	top: 0px;
}

.author_info {
    text-align: left;
	font-size: 0.9em;
	border-right: 1px solid #e4ebf3;
	margin: 15px -5px 10px -15px;
	width: 180px;
	float: left;
}

.author_info ul { list-style:none; }
li.avatar { text-align: center; }
li.title { text-align:center; font-size: small; }
li.info_rep { text-align: center; }
.fnav { text-align: left; font-weight: bold; }

.post_body {
    margin-left: 190px;
	line-height: 100%;
	margin-top: 3px;
	padding: 10px;
}

.post_footer {
	clear: left;
	text-align: right;
	background-color: #e4ebf3;
	padding: 10px;
}

.post_head {
    text-align: right;
    background-color: #d5dee5;
	padding: 10px;
}

.post_time { margin-bottom: 15px; }

.fedited_by {
    background-color: lightgray;
    font-size: tiny;
    line-height: 200%;
    padding: 5px;
    margin-top: 10px;
}

.user_control_fbtn a {
    font-size: 1em;
    font-weight: thin;
    font-family:Verdana,sans-serif;
    background: #e4ebf3;
    color: #000;
    text-decoration: none;
    border: 1px solid lightblue;
    padding: 2px;
    margin:5px 5px 5px 5px;
    border-radius:5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.user_control_fbtn a:hover { background-color: lightblue; }

.mod_option_box {
    width: 80%;
    background: #f1f6ec;
    border: 1px solid #b0ce94;
    color: #515151;
    margin: 20px 0 20px 0;
    padding: 5px;
    clear: both;
}

.mod_option {
    width: 80%;
    background-color: #f1f6ec;
    border: 0px solid red;
    padding: 5px;
    clear: both;
}

.quotetop {
	background: #E4EAF2 url('1/css_img_quote.gif') no-repeat right;
	border: 1px dotted #000;
	border-bottom: 0;
	border-left: 4px solid #8394B2;
	color: #000;
	font-weight: bold;
	font-size: 10px;
	margin: 2px auto 0 auto;
	padding: 3px;
}

.quotemain{
	background: #FAFCFE;
	border: 1px dotted #000;
	border-left: 4px solid #8394B2;
	border-top: 0;
	color: #465584;
	padding: 4px;
	margin: 0 auto 0 auto;
}

.codetop {
	background: #FDDBCC url('1/css_img_code.gif') no-repeat right;
	color: #000;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
}

.codemain {
	background: #FAFCFE;
	border: 1px dotted #000;
	color: #465584;
	font-family: Courier, Courier New, Verdana, Arial;
	margin: 0 auto 0 auto;
	padding: 2px;
}

/* - Sexy Ass Div Table - */

.base-layer {
	color:#000000;
	padding:0;
	text-align:center;
	width:auto;
}

.table-row {
	color:#000000;
    margin:0 auto 0 auto;
	padding:0;
	text-align:center;
	width: 100%;
}

.left-layer {
	border:none;
	float:left;
	margin:0;
	padding:5px;
	width:20%;
}

.space-line {
	clear:both;
	margin:0;
	padding:0;
	width: auto;
    border-bottom:1px solid #d5dde5;
}

p.text {
	border:1px solid #d5dde5;
	margin:0;
	padding:3px;
	font-style:normal;
	font-size:1em;
	text-align:center;
	text-indent:0;
	width: auto;
}