body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
}

img {
  border: 0;
}

.text-header {
  font-family: Verdana,Arial,sans-serif;
  padding: 50px;
  font-size: 220%;
  color: #FFFFFF;
}
.center {
  text-align: center;
}

.form-field{
  margin-bottom:5px;
}

.form-field label{
  float:left;
  width:200px;
}

.form-field input{
  width:250px;
}

.form-field-info {
  font-size: 12px;
  color: red;
  margin-left:200px;
}

/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
}

h2{
 font-size: 114%;
 color: #006699;
}

h3{
 font-size: 100%;
 color: #334d55;
}

h4{
 font-size: 100%;
 font-weight: normal;
 color: #333333;
}

h5{
 font-size: 100%;
 color: #334d55;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}
			

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	margin: 0 0 20px 0;
	padding: 0px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

#logostrip{ 
	background-color: #00326A;
	height: 125px;
	margin: 0;
	padding: 0;
}

/************** #box section styles **************/

.box_wrapper {
	margin-top: 10px;
}
.box_header {
	font-size: 12pt;
	font-weight: bold;
	padding: 5px;
}
.box_content {
	width: 800px; 
	text-align: left; 
	padding: 10px; 
	margin: 0 auto;
	border-style: solid; 
	border-color: lightgrey; 
	border-width: 5px 2px;
}
div.box_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	padding: 5px;
}
.proceed-btn-div{
	text-align: center;
	margin-top: 5px;
}


.btn
{
   font-size:12px;
   font-family:Verdana,sans-serif;
   /* font-weight:bold; */
   color:#FFFFFF;
   background-color:limegreen;
   border: 0px;
   padding: 3px;
   text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/************** #Error Box styles **************/
.error-box {
  width: 70%;
  font-size:12px;
  font-family:Verdana,sans-serif;
  /* font-weight:bold; */
  color:#281B1B;
  background-color: #F3DDDD;
  border: 1px solid #DEB7B7;
  padding: 5px;
  text-decoration: none;
  margin: 0 auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.error-box h2 {
  margin: 0;
  padding: 0;
  color: #FF0000;
  font-size: 16px;
}

.error-box h3 {
  margin: 0;
  padding: 0;
  color: #000000;
}